//Анимация для Hover
@keyframes popupLogo {
	0% {
		opacity: 0.5;
		scale: 1;
		translate: 0;
		filter: grayscale(90%);
	}

	50% {
		scale: 1.1;
	}

	100% {
		opacity: 1;
		scale: 1;
		translate: 0 -5px;
		filter: grayscale(40%);
	}
}

//Анимация Focus

@keyframes clickLogo {
	0% {
		rotate: 0;
		scale: 1;
	}

	50% {
		rotate: 28deg;
		scale: 0.8;
	}

	100% {
		rotate: 0;
		scale: 1;
	}
}

//Анимация для подсказки
@keyframes popupNote {
	from {
		opacity: 0;
		translate: -50% 4px;
	}
	to {
		opacity: 1;
		translate: -50% -8px;
	}
}

.logoBox {
	width: 38px;
	height: 38px;

	position: relative;

	img {
		width: 100%;
		height: 100%;
		filter: grayscale(90%);

		transform: scale(1);
		opacity: 0.5;
		transition: all 0.3s ease-in-out;
	}

	&:hover img {
		animation: popupLogo 0.4s ease-in-out forwards;
	}

	&:hover .logoNote {
		animation: popupNote 0.6s ease forwards;
	}

	a {
		text-decoration: none;
	}
}

.logoLink {
	&:active img {
		animation: clickLogo 0.2s ease-in;
	}
}

.logoNote {
	display: block;
	position: absolute;
	bottom: 100%;
	left: 50%;
	translate: -50%;

	opacity: 0;

	font-size: 12px;
	font-style: italic;
	// white-space: nowrap;
	color: #c5e8ff;

	pointer-events: none;

	&:hover {
		animation: popupLogo 0.4s ease;
		opacity: 1;
	}
}
