.hudPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  pointer-events: none;

  transition: transform 0.3s ease;

  > * {
    pointer-events: auto;
  }

  &.close {
    transform: translateX(
      -(387px + 12px)
    ); //TODO: Добавить переменные для широт
  }
}
