.hudPanel {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;

	width: 100%;

	top: 87px;
	left: 24px;
	bottom: 168px;
	z-index: 1;
	position: absolute;

	pointer-events: none;

	> * {
		pointer-events: auto;
	}
}
